*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* For testing only */
*:not(body):not(html) {
  border:1px dashed red;
}

#headerContainer h1 img {
  width: 100%;
  height: auto;
}
